<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/book.css">
    <title>Books</title>
</head>

<body>
    <div class="containner-main">
        <div class="containner-form-tambah">
            <form action="/books" method="post" enctype="multipart/form-data">
                <label for="penulis">Penulis</label>
                <input type="text" name="penulis" id="penulis">

                <label for="judul">Judul</label>
                <input type="text" name="judul" id="judul">

                <label for="tahun">Tahun Rilis</label>
                <input type="date" name="tahun" id="tahun">

                <label for="kode">Kode</label>
                <input type="text" name="kode" id="kode">

                <label for="gambar">Gambar</label>
                <input type="file" name="gambar" id="gambar">

                <label for="deskripsi">Deskripsi</label>
                <textarea name="deskripsi" id="deskripsi" cols="30" rows="10"></textarea>

                <div class="containner-list-bottom">
                    <a href="/books">kembali</a>
                    <!-- <a href="/books">kirim</a> -->
                    <button>kirim</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>